@import url(./vendor/normalize.css);
@import url(./fonts/Inter/Inter.css);
@import url(./blocks/page/page.css);

@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/header/__auth/header__auth.css);
@import url(./blocks/header/__email/header__email.css);
@import url(./blocks/header/__button/header__button.css);
@import url(./blocks/header/__nav/header__nav.css);

@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__date/profile__date.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__name/profile__name.css);
@import url(./blocks/profile/__caption/profile__caption.css);
@import url(./blocks/profile/__name-edit/profile__name-edit.css);
@import url(./blocks/profile/__button-edit/profile__button-edit.css);
@import url(./blocks/profile/__button-add/profile__button-add.css);

@import url(./blocks/elements/elements.css);
@import url(./blocks/cards/cards.css);
@import url(./blocks/cards/__caption/cards__caption.css);
@import url(./blocks/cards/__button-like/cards__button-like.css);
@import url(./blocks/cards/__button-like/_active/cards__button-like_active.css);
@import url(./blocks/cards/__button-delete/cards__button-delete.css);
@import url(./blocks/cards/__button-delete/_hidden/cards__button-delete_hidden.css);
@import url(./blocks/cards/__image/cards__image.css);
@import url(./blocks/cards/__item/cards__item.css);
@import url(./blocks/cards/__title/cards__title.css);
@import url(./blocks/cards/__like/cards__like.css);
@import url(./blocks/cards/__like-counter/cards__like-counter.css);

@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__copyright/footer__copyright.css);

@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__container-input/popup__container-input.css);
@import url(./blocks/popup/__form/popup__form.css);
@import url(./blocks/popup/__input/popup__input.css);
@import url(./blocks/popup/__input/_text/popup__input_text_name.css);
@import url(./blocks/popup/__input/_text/popup__input_text_caption.css);

@import url(./blocks/popup/__error/popup__error.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/popup/__button-save/popup__button-save.css);
@import url(./blocks/popup/__button-close/popup__button-close.css);

@import url(./blocks/popup/__image/popup__image.css);
@import url(./blocks/popup/__sub/popup__sub.css);
@import url(./blocks/popup/__figure/popup__figure.css);
@import url(./blocks/popup/__container-image/popup__container-image.css);

@import url(./blocks/popup/__input/_type_error/popup__input_type_error.css);
@import url(./blocks/popup/__error/_active/popup__error_active.css);
@import url(./blocks/popup/__button-save/_inactive/popup__button-save_inactive.css);

@import url(./blocks/profile/__avatar-edit/profile__avatar-edit.css);
@import url(./blocks/profile/__avatar-info/profile__avatar-info.css);

@import url(./blocks/register/register.css);
@import url(./blocks/register/__form/register__form.css);
@import url(./blocks/register/__login-link/register__login-link.css);
@import url(./blocks/register/__signin/register__signin.css);
@import url(./blocks/register/__title/register__title.css);
@import url(./blocks/register/__input/register__input.css);
@import url(./blocks/register/__button/register__button.css);

@import url(./blocks/popup/__infotool/popup__infotool.css);
@import url(./blocks/popup/__infotool-image/popup__infotool-image.css);
@import url(./blocks/popup/__infotool-title/popup__infotool-title.css);